@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ============ LES VARIABLES =========== */
:root {
    --icon-color: green;
    --body-background-color: #4070f4;
    --container-background-color: #fff;
    --icon-color: #999
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background-color);
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: var(--container-background-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
    /* background-color: red; */
}

.container.active .forms {
  height: 700px;
}

.container .form {
    width: 50%;
    padding: 30px;
    /* background-color: #fff; */
    transition: margin-left 0.2s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.2s ease, opacity 0.2s ease;
}

.container .signUp {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.container.active .signUp {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: var(--body-background-color);
    bottom: 0;
    left: 0;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}



.input-field input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    padding: 0 35px;
    font-size: 16px;
    /* font-weight: 500; */
    /* color: #000; */
    outline: none;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: var(--body-background-color);
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
    color: var(--icon-color);
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: var(--body-background-color);
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHide {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

form .error {
    color:red;
    display: none;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: var(--body-background-color);
}

.form .text {
    font-size: 12px;
    color: #333;
}

.form a.text {
    color: var(--body-background-color);
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 30px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--body-background-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #265df2;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}